@import "../../styles/colors.scss";

@media screen and (max-width: 382px) {
  .acc-no-input {
    font-size: 13px;
  }
  .ifsc-input {
    font-size: 13px;
  }
}
.acc-no-input {
  background-color: white;
}
.ifsc-input {
  background-color: white;
}
